/* Estilo geral do cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b; /* Cor de fundo escura */
  padding: 15px 20px; /* Aumenta um pouco o padding para dar mais espaço */
  border-bottom: 2px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contêiner para logo e título */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Seção do logo e título */
.logo-section {
  display: flex;
  justify-content: center; /* Alinha a logo no centro */
  align-items: center;
  gap: 10px; /* Espaçamento entre a logo e outros elementos */
}

.header-logo {
  width: 70px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: none;
}
.header-title span {
  display: block; /* Quebra em uma nova linha */
  font-size: 1.4rem; /* Pode ser um pouco menor */
  font-weight: 500;
  color: #fff;
  text-align: center;
}

/* Navegação */
.nav {
  display: flex;
  justify-content: flex-end; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

/* Efeito de hover nos links */
.nav-links a:hover {
  color: #ffa52ff1;
  transform: scale(1.05);
}

/* Adicionar uma linha embaixo do link ativo */
.nav-links a:active,
.nav-links a.active {
  border-bottom: 3px solid #ffa52ff1;
  padding-bottom: 5px;
}

/* Menu Hambúrguer (apenas visível em telas pequenas) */
.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Estilo para quando o menu está aberto */
.nav.nav-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .logo-section {
    margin-bottom: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
    display: none; /* O menu fica escondido por padrão */
  }

  /* Mostra o menu quando o estado "nav-open" é aplicado */
  .nav.nav-open .nav-links {
    display: flex;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  /* Mostrar o botão do menu hambúrguer */
  .menu-button {
    display: block;
  }
}
