.copyright {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 0.9rem;
    border-top: 1px solid #333;
  }
  
  .copyright p {
    margin: 0;
    font-weight: bold;
  }
  